{% extends 'base.html' %}

{% load static %}
{% load bootstrap4 %}

{% block content %}

<section class="vh-100">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            {% if user.is_anonymous %}
            <h1 class="text-white">INDEX</h1>

            {% else %}
            <p>
                <a class="text-white" href="{% url 'searchtweets' %}">
                    <img height="60" id="options" src="{% static '/images/search-tweets.png' %}"><br>
                    Search tweets
                </a>
            </p>

            {% endif %}
        </div>
    </div>
</section>
{% endblock %}