{% extends 'base.html' %}

{% load static %}
{% load bootstrap4 %}

{% block title %}
<title>Opções</title>
{% endblock %}

{% block content %}
<section class="vh-100">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">

            <a class="text-white mx-5 my-5" href="{% url 'test-phrase' %}">
                <img height="60" id="options" src="{% static '/images/search-tweets.png' %}"><br>
                Teste uma frase
            </a>

            <a class="text-white mx-5 my-5" href="{% url 'search-tweets' %}">
                <img height="60" id="options" src="{% static '/images/search-tweets.png' %}"><br>
                Procurar tweets
            </a>

            <a class="text-white mx-5 my-5" href="{% url 'search-tweets-compare' %}">
                <img height="60" id="options" src="{% static '/images/search-tweets.png' %}"><br>
                Comparar termos
            </a>

            {% if user.is_staff %}
            <a class="text-white mx-5 my-5" href="{% url 'training-base' %}">
                <img height="60" id="options" src="{% static '/images/search-tweets.png' %}"><br>
                Base de treinamento
            </a>
            {% endif %}
            

        </div>
    </div>
</section>
{% endblock %}