{% extends 'base.html' %}

{% load static %}

{% block title %}
<title>Análise comparativa de tweets</title>
{% endblock %}

{% block content %}

<section class="vh-100">
    <div class="container h-100">

        <div class="row">
            <div class="col-sm-12">
                <div class="columnStyle">
                    {% include 'compareTweets/infos.html' %}
                </div>
            </div>
        </div>

        <!-- <h3 class="text-white my-2">Word Cloud</h3> -->
        <div class="row">>
            <div class="col-12">
                <div class="columnStyle">
                    <h3 class="row d-flex justify-content-center text-white py-3">Wordcloud</h3>
                    <div class="d-flex justify-content-center my-2">
                        <div class="zoom" id="magnifying_area" style="width: 55em;">
                            <img class="img-fluid px-2" id="magnifying_img" src="{{ wordcloud1 }}"
                                alt="Imagem word cloud">
                            <figcaption class="d-flex justify-content-center figure-caption py-3 text-white">Word Cloud:
                                {{term1}}
                            </figcaption>
                        </div>

                        <div class="zoom" id="magnifying_area" style="width: 55rem;">
                            <img class="img-fluid px-2" id="magnifying_img" src="{{ wordcloud2 }}"
                                alt="Imagem word cloud">
                            <figcaption class="d-flex justify-content-center figure-caption py-3 text-white">Word Cloud:
                                {{term2}}
                            </figcaption>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'charts/charts-compare.html' %}

        {% if locations1 != False %}
        <h3 class="text-white">Mapas:</h3>
        {% include 'maps/maps-compare.html' %}
        {% endif %}

        {% include 'compareTweets/tweets-analysis.html' %}

    </div>
</section>


{% endblock %}