{% extends 'base.html' %}

{% load static %}

{% block content %}

<section class="vh-100">
    <div class="container h-100">
        <h2 class="text-white row d-flex justify-content-center">Termos pesquisados: {{ term1 }} e {{term2}}</h2>


        <h3 class="text-white my-2">Wordcloud: {{term1}} X {{term2}}</h3>
        <div class="d-flex justify-content-center my-2">
            <div class="zoom" id="magnifying_area" style="width: 55em;">
                <img class="img-fluid px-1" id="magnifying_img" src="{{ wordcloud1 }}"
                    alt="Imagem word cloud">
            </div>

            <div class="zoom" id="magnifying_area" style="width: 55rem;">
                <img class="img-fluid px-1" id="magnifying_img" src="{{ wordcloud2 }}"
                    alt="Imagem word cloud">
            </div>
        </div>


        {% if option == 'simples' %}
        {% include 'compareTweets/viewtweets-trans.html' %}

        {% else %}
        {% include 'compareTweets/viewtweets-training.html' %}

        {% endif %}


        <!-- BOTÃO PARA ENVIAR INFORMAÇÕES -->
        <div class="row justify-content-center">
            <!-- FORM PARA GERAR PDF -->
            <form action="{% url 'generate-compare-pdf' %}" method="get" class="form text-white" autocomplete="off"
                target="_blank">
                {% csrf_token %}
                <div class="mt-3 pt-2 mx-3">
                    <input class="btn btn-primary btn-lg" type="submit" value="Gerar PDF" />
                </div>
            </form>
            <!-- FIM - FORM PARA GERAR PDF -->

            <!-- FORM PARA GERAR CSV -->
            <form action="{% url 'generate-csv' %}" method="get" class="form text-white" autocomplete="off"
                target="_blank">
                {% csrf_token %}
                <div class="mt-3 pt-2 mx-3">
                    <input class="btn btn-primary btn-lg" type="submit" value="Gerar CSV" />
                </div>
            </form>
            <!-- FIM - FORM PARA GERAR CSV -->

        </div>
        <!-- BOTÃO PARA ENVIAR INFORMAÇÕES -->

    </div>
</section>


{% endblock %}