<h3 class="row d-flex justify-content-center text-white py-3">Resumo da análise</h3>
<div class="row text-white">
    <div class="col-sm-12 py-3">
        <p>
            <i class="fas fa-search fa-lg me-3 fa-fw"></i>
            &nbsp; Primeiro termo: {{ context_infos1.options.search }}
        </p>
    </div>

    <div class="col-sm-12 py-3">
        <p>
            <i class="fas fa-search fa-lg me-3 fa-fw"></i>
            &nbsp; Segundo termo: {{ context_infos2.options.search }}
        </p>
    </div>

    <div class="col-sm-12 py-3">
        <p>
            <i class="fas fa-line-chart fa-lg me-3 fa-fw"></i>
            &nbsp; Tipo de análise: {{ context_infos1.options.type_of_analysis }}
        </p>
    </div>

    <div class="col-sm-12 py-3">
        <p>
            <i class="fas fa-list-ol fa-lg me-3 fa-fw"></i>
            &nbsp; Quantidade de tweets: {{ context_infos1.options.number_of_tweets }}
        </p>
    </div>

    <div class="col-sm-12 py-3">
        <p>
            <i class="fas fa-percent fa-lg me-3 fa-fw"></i>
            &nbsp; Precisão da análise: {{ context_infos1.probability }}%
        </p>
    </div>

    <div class="col-sm-12 py-3">
        <p>
            <i class="fas fa-calendar fa-lg me-3 fa-fw"></i>
            &nbsp; Data: {{ context_infos1.data_time }}
        </p>
    </div>

    <div class="col-sm-12 py-3">
        <p>
            <i class="fas fa-file-pdf fa-lg me-3 fa-fw"></i>
            &nbsp; <a style="color: white;" href="{% url 'generate-compare-pdf' %}" target="_blank">Gerar PDF</a>
        </p>
    </div>

    <div class="col-sm-12 py-3 pb-4">
        <p>
            <i class="fas fa-file-excel fa-lg me-3 fa-fw"></i>
            &nbsp; <a style="color: white;" href="{% url 'generate-compare-csv' %}">Gerar CSV</a>
        </p>
    </div>



</div>