<h3 class="row d-flex justify-content-center text-white py-3">Resumo da análise</h3>
<div class="row text-white">
    <div class="col-sm-12 py-3">
        <p>
            <i class="fas fa-search fa-lg me-3 fa-fw"></i>
            &nbsp; Primeiro termo: {{ term1 }}
        </p>
    </div>

    <div class="col-sm-12 py-3">
        <p>
            <i class="fas fa-search fa-lg me-3 fa-fw"></i>
            &nbsp; Segundo termo: {{term2}}
        </p>
    </div>

    <div class="col-sm-12 py-3">
        <p>
            <i class="fas fa-line-chart fa-lg me-3 fa-fw"></i>
            &nbsp; Tipo de análise: {{ option }}
        </p>
    </div>

    <div class="col-sm-12 py-3">
        <p>
            <i class="fas fa-list-ol fa-lg me-3 fa-fw"></i>
            &nbsp; Quantidade de tweets: {{amoutTweets}}
        </p>
    </div>

    <div class="col-sm-12 py-3">
        <p>
            <i class="fas fa-percent fa-lg me-3 fa-fw"></i>
            &nbsp; Precisão da análise: {{probability}}%
        </p>
    </div>

    <div class="col-sm-12 py-3">
        <p>
            <i class="fas fa-calendar fa-lg me-3 fa-fw"></i>
            &nbsp; Data da análise: hoje
        </p>
    </div>

    <div class="col-sm-12 py-3">
        <p>
            <i class="fas fa-file-pdf fa-lg me-3 fa-fw"></i>
            &nbsp; <a style="color: white;" href="{% url 'generate-compare-pdf' %}" target="_blank">Gerar PDF</a>
        </p>
    </div>

    <div class="col-sm-12 py-3 pb-4">
        <p>
            <i class="fas fa-file-excel fa-lg me-3 fa-fw"></i>
            &nbsp; <a style="color: white;" href="{% url 'generate-compare-csv' %}">Gerar CSV</a>
        </p>
    </div>



</div>