{% load static %}

<h3 class="text-white my-5">Analises feitas: {{ context_infos1.options.search }}</h3>
<div class="justify-content-left text-white">
    {% for tweet in context_infos1.tweets %}
        <p>Tweet ID: {{tweet.tweet_id}}</p>
        <p>Tweet Original: {{tweet.tweet_text}}</p>
        <p>Tweet Limpo: {{tweet.tweet_clean}}</p>
        <p>Analise feita: {{tweet.tweet_analise.0|capfirst}}</p>
        <p>Probabilidade de acerto: {{tweet.tweet_analise.1}}</p>
        <br>
    {% endfor %}
</div>

<h3 class="text-white my-5">Analises feitas: {{ context_infos2.options.search }}</h3>
<div class="justify-content-left text-white">
    {% for tweet in context_infos2.tweets %}
        <p>Tweet ID: {{tweet.tweet_id}}</p>
        <p>Tweet Original: {{tweet.tweet_text}}</p>
        <p>Tweet Limpo: {{tweet.tweet_clean}}</p>
        <p>Analise feita: {{tweet.tweet_analise.0|capfirst}}</p>
        <p>Probabilidade de acerto: {{tweet.tweet_analise.1}}</p>
        <br>
    {% endfor %}
</div>