{% extends 'base.html' %}

{% load static %}
{% load bootstrap4 %}

{% block title %}
<title>Login</title>
{% endblock %}

{% block content %}

<div class="container min-vh-100">
    <div class="row align-items-center">
        <div class="col-md-6 mt-5">
            <h2 class="text-center font-weight-bold">Informe seus dados de acesso</h2>
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <input class="btn btn-lg btn-outline-primary" type="submit" style="width: 100%;">
            </form>
        </div>
        <div class="col-md-6 mt-5">
            <div class="col-12">
                <img class="img-fluid" src="{% static '/images/registration/login.svg' %}" alt="Login image">
            </div>
            <div class="col-12">
                <p class="text-center mt-3">Você não tem uma conta? <a href="{% url 'create-user' %}">Crie aqui.</a></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}