{% load static %}
<div class="row">
    <div class="col-sm-12">
        <div class="columnStyle">
            <h3 class="row d-flex justify-content-center py-3">Gráficos</h3>
            <canvas id="myChart" width="800" height="400"></canvas>

            <div class="pl-2 ml-2">
                <p class="mx-2">Tipo de gráfico:</p>
                <button class="btn btn-dark mx-2 my-2" id="bar">Barras</button>
                <button class="btn btn-dark mx-2 my-2" id="radar">Linha</button>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    let term1 = '{{ context_infos1.options.search|safe }}'
    let labels1 = {{ chartsInfo1.labels| safe }}
    let defaultData1 = {{ chartsInfo1.qtd_tweets| safe }}
    let colors1 = {{ chartsInfo1.colors| safe }}

    let term2 = '{{ context_infos2.options.search|safe}}'
    let labels2 = {{ chartsInfo2.labels| safe }}
    let defaultData2 = {{ chartsInfo2.qtd_tweets| safe }}
    let colors2 = {{ chartsInfo2.colors| safe }}


    $(document).ready(function () {

        const chartOptionBar = document.getElementById("bar")
        const chartOptionRadar = document.getElementById("radar")

        chartOptionBar.addEventListener('click', changeBar)
        chartOptionRadar.addEventListener('click', changeRadar)

        var ctx = document.getElementById("myChart").getContext('2d');

        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels1,
                datasets: [{
                    label: term1,
                    data: defaultData1,
                    backgroundColor: 'rgba(255, 50 , 50, 0.8)',
                    borderColor: 'black',
                    borderWidth: 1
                },
                {
                    label: term2,
                    data: defaultData2,
                    backgroundColor: 'rgba(50, 50 , 255, 0.8)',
                    borderColor: 'black',
                    borderWidth: 1
                }]
            },
            options: {

                responsive: true,
            }
        })

        function changeBar() {
            const updatetype = 'bar'
            myChart.config.type = updatetype
            myChart.update()
            console.log(myChart.config.type)
        }

        function changeRadar() {
            const updatetype = 'line'
            myChart.config.type = updatetype
            myChart.update()
            console.log(myChart.config.type)
        }
    })

</script>