<div id="map"></div>

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>

<script>
    let locations1 = {{locations1|safe}}
    let locations2 = {{locations2|safe}}
    var map = L.map('map').setView([-14.235004, -51.92528], 4);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);  

    for (var i = 0; i < locations1.length; i++){
        var popup ="Usuário: " + locations1[i]['user'] +"<br>"+ "Localização: " + locations1[i]['location'] + 
        + "<br>" + "Tweet ID: " + locations1[i]['tweet_id'] + "<br>" + "Tweet Text: " + locations1[i]['tweet_text'] 
        L.marker([locations1[i]['latitude'], locations1[i]['longitude']]).addTo(map)
            .bindPopup(popup)
            .openPopup();
    }

    for (var i = 0; i < locations2.length; i++){
        var popup ="Usuário: " + locations2[i]['user'] +"<br>"+ "Localização: " + locations2[i]['location'] + 
        + "<br>" + "Tweet ID: " + locations2[i]['tweet_id'] + "<br>" + "Tweet Text: " + locations2[i]['tweet_text'] 
        L.marker([locations2[i]['latitude'], locations2[i]['longitude']]).addTo(map)
            .bindPopup(popup)
            .openPopup();
    }
</script>
