{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <link href="{% static 'css/report/report.css' %}" rel="stylesheet">
    <title>Report</title>
    <meta name="description" content="Report example">
</head>

<body>
    <article id="cover">
        <h1 id="title-page">Relatório de tweets: {{ term }}</h1>
        <address>
            TwComp
            Análises de tweets
        </address>
        <address>
            twcomp.contact@gmail.com
            https://twcomp.xyz
        </address>
    </article>

    <article id="contents">
        <h2>Índice</h2>
        <h3>Seções</h3>
        <ul>
            <li><a href="#column-title-1"></a></li>
            <li><a href="#column-title-2"></a></li>
        </ul>
    </article>

    <article id="columns">
        <h2 id="column-title-1">Word Cloud</h2>

        <h3>Word Cloud gerada a partir dos tweets coletados</h3>
        <img src="{{ wordcloud }}" id="wordcloud">
        
    </article>

    <article id="columns">
        <h2 id="column-title-2">Gráficos</h2>
        <p>
            Com base na analise de {{amoutTweets}} tweets, o algoritmo identificou a seguinte quantidade de tweets
            por sentimento:
        <ul>
            {% if type_of_analysis == 'advanced' %}
            <li>{{chartsInfo.qtd_tweets.0}} - alegria;</li>
            <li>{{chartsInfo.qtd_tweets.1}} - nojo;</li>
            <li>{{chartsInfo.qtd_tweets.2}} - medo;</li>
            <li>{{chartsInfo.qtd_tweets.3}} - raiva;</li>
            <li>{{chartsInfo.qtd_tweets.4}} - surpresa;</li>
            <li>{{chartsInfo.qtd_tweets.5}} - tristeza.</li>
            {% else %}
            <li>{{chartsInfo.qtd_tweets.0}} - negativo;</li>
            <li>{{chartsInfo.qtd_tweets.1}} - neutro;</li>
            <li>{{chartsInfo.qtd_tweets.2}} - positivo;</li>
            {% endif %}
        </ul>
        </p>
        <h3 id="charts-pie">Gráfico de pizza</h3>
        <img class="justify-content-left" src="{{ pieChart }}">

        <h3 id="charts-bar">Gráfico de barras</h3>
        <img class="justify-content-left" src="{{ barChart }}">

    </article>

</body>

</html>