{% load static %}

<h3 class="text-white my-5">Analises feitas:</h3>
<div class="justify-content-left text-white">
    {% for tweet in tweets %}
        <p>Tweet ID: {{context_infos.tweet.tweet_id}}</p>
        <p>Tweet Original: {{context_infos.tweet.tweet_text}}</p>
        <p>Tweet Limpo: {{context_infos.tweet.tweet_clean}}</p>
        <p>Analise feita: {{context_infos.tweet.tweet_analise.0|capfirst}}</p>
        <p>Probabilidade de acerto: {{context_infos.tweet.tweet_analise.1}}</p>
        <br>
    {% endfor %}
</div>