{% extends 'base.html' %}

{% load static %}

{% block title %}
<title>Análise de tweets</title>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12 col-md-4 my-3">
            <div class="columnStyle">
                {% include 'tweets/infos.html' %}
            </div>
        </div>
        <div class="col-12 col-md-8 my-3">
            <div class="columnStyle">
                <h3 class="text-center py-3">Wordcloud</h3>
                <div class="d-flex justify-content-center m-3 p-3">
                    <div class="zoom" id="magnifying_area" style="width: 65rem;">
                        <img class="img-fluid" id="magnifying_img" src="{{ wordcloud }}" alt="Imagem word cloud">
                    </div>
                </div>
            </div>
        </div>


        <div class="col-12 my-3">
            <div class="columnStyle">
                <h3 class="text-center py-3">20 palavras mais importantes</h3>
                <div class="d-flex justify-content-center text-center">
                    {{html_chart_word_importance|safe}}
                </div>
            </div>
        </div>
    </div>

    {% include 'charts/charts.html' %}

    {% if locations != False %}
    <div class="row">
        <div class="col-sm-12 my-3">
            <div class="columnStyle">
                <h3 class="row d-flex justify-content-center pt-3">Mapas</h3>
                <div class="row d-flex justify-content-center py-3">
                    {% include 'maps/maps.html' %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}


    {% include 'other/include-tweets.html' %}
    <!--{% include 'tweets/tweets-analysis.html' %}-->

    {% endblock %}