<div class="col-sm-12" url-endpoint='{% url "viewtweets" %}'>
    <canvas id="myChart" width="400" height="400"></canvas>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>

    var endpoint = '/api/chart/data'
    var defaultData = []
    var labels = []
    $.ajax({
        method: "GET",
        url: endpoint,
        success: function (data) {
            labels = data.labels
            defaultData = data.default
            setChart()

        },
        error: function (error_data) {
            console.log("error")
            console.log(error_data)
        }
    })

    function setChart() {
        var ctx = document.getElementById("myChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Sentimentos',
                    data: defaultData,
                    backgroundColor: [
                        'yellow',
                        'green',
                        'violet',
                        'red',
                        'blue',
                        'gray'
                    ],
                    borderColor: [
                        'black',
                        'black',
                        'black',
                        'black',
                        'black',
                        'black'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        })
    }

</script>