{% load static %}
<div class="row d-flex justify-content-center">
    <div class="col-sm-8">
        <canvas id="myChart" width="600" height="400"></canvas>
        <p class="mx-2 text-white">Tipo de gráfico:</p>
        <div class="row d-flex justify-content-left">
            <button class="btn btn-dark mx-2 my-2" id="bar">Barras</button>
            <button class="btn btn-dark mx-2 my-2" id="radar">Linha</button>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

    var endpoint = '/view-tweets-compare/api/'
    $.ajax({
        method: "GET",
        url: endpoint,
        success: function (data) {

            term1 = data.term1
            labels1 = data.chartsInfo1.labels
            defaultData1 = data.chartsInfo1.qtd_tweets
            colors1 = data.chartsInfo1.colors

            term2 = data.term2
            labels2 = data.chartsInfo2.labels
            defaultData2 = data.chartsInfo2.qtd_tweets
            colors2 = data.chartsInfo2.colors

            setChart()

        },
        error: function (error_data) {
            console.log("error")
            console.log(error_data)
        }
    })

    function setChart() {

        const chartOptionBar = document.getElementById("bar")
        const chartOptionRadar = document.getElementById("radar")

        chartOptionBar.addEventListener('click', changeBar)
        chartOptionRadar.addEventListener('click', changeRadar)

        var ctx = document.getElementById("myChart").getContext('2d');

        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels1,
    datasets: [{
        label: term1,
        data: defaultData1,
        backgroundColor: 'rgba(255, 50 , 50, 0.8)',
        borderColor: 'black',
        borderWidth: 1
                },
    {
        label: term2,
        data: defaultData2,
        backgroundColor: 'rgba(50, 50 , 255, 0.8)',
        borderColor: 'black',
        borderWidth: 1
                }]
            },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        },
        responsive: true,
            }
        })

    function changeBar() {
        const updatetype = 'bar'
        myChart.config.type = updatetype
        myChart.update()
        console.log(myChart.config.type)
    }

    function changeRadar() {
        const updatetype = 'line'
        myChart.config.type = updatetype
        myChart.update()
        console.log(myChart.config.type)
    }
    }

</script>