{% load static %}

<div class="row d-flex justify-content-center">
    <div class="col-sm-5 mx-3">
        <canvas id="myChart" width="400" height="400"></canvas>
    </div>

    <div class="col-sm-5 mx-3">
        <canvas id="myChart2" width="400" height="400"></canvas>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    let labels = {{chartsInfo.labels|safe}}
    let defaultData = {{chartsInfo.qtd_tweets|safe}}
    let colors = {{chartsInfo.colors|safe}}

    console.log(labels)
    console.log(defaultData)
    console.log(colors)
    
    $(document).ready(function() {
        var ctx = document.getElementById("myChart").getContext('2d');
        var ctx2 = document.getElementById("myChart2").getContext('2d');

        var myChart1 = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Sentimentos',
                    data: defaultData,
                    backgroundColor: colors,
                    borderColor: 'black',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
            }
        })

        var myChart2 = new Chart(ctx2, {
            type: 'pie',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Sentimentos',
                    data: defaultData,
                    backgroundColor: colors,
                    borderColor: 'black',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
            }
        })
    })

</script>