{% load static %}

<div class="text-black row d-flex justify-content-center">
    <div class="col-sm-5 mx-3">
        <canvas id="myChart" width="400" height="400"></canvas>
    </div>

    <div class="col-sm-5 mx-3">
        <canvas id="myChart2" width="400" height="400"></canvas>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>

<script>
    var endpoint = '/search-tweets/api/'

    var api_labels = {{ chartsInfo.labels| safe }}
    var api_data = {{ chartsInfo.qtd_tweets| safe }}
    var api_colors = {{ chartsInfo.colors| safe }}

    var defaultData = []
    var labels = []

    $.ajax({

        method: "GET",
        url: endpoint,
        success: function (data) {

            labels = data.chartsInfo.labels
            defaultData = data.chartsInfo.qtd_tweets
            colors = data.chartsInfo.colors

            setChart()

        },
        error: function (error_data) {
            console.log("error")
            console.log(error_data)
        }
    })

    function setChart() {
        var ctx = document.getElementById("myChart").getContext('2d');
        var ctx2 = document.getElementById("myChart2").getContext('2d');


        var myChart1 = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: api_labels,
                datasets: [{
                    label: 'Sentimentos',
                    data: api_data,
                    backgroundColor: api_colors,
                    borderColor: 'black',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
                responsive: true,
            }
        })

        var myChart2 = new Chart(ctx2, {
            type: 'pie',
            data: {
                labels: api_labels,
                datasets: [{
                    label: 'Sentimentos',
                    data: api_data,
                    backgroundColor: api_colors,
                    borderColor: 'black',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        })
    }

</script>