{% extends 'base.html' %}

{% load static %}
{% load bootstrap4 %}

{% block title %}
<title>Teste uma frase</title>
{% endblock %}

{% block content %}

<div class="container min-vh-100">
    <div class="row mt-3">
        <div class="col-12">
            <h1 class="text-center font-weight-bold">Faça um teste com uma frase</h1>
        </div>
        <div class="col-12">
            <form action="{% url 'test-result' %}" method="post" class="form" autocomplete="off">
                {% csrf_token %}
                {% bootstrap_messages %}
                <!-- CAMPO PARA PESQUISAR TWEET -->
                <div class="form-group">
                    <label for="pesquisaTweet">Frase de teste</label>
                    <input type="text" class="form-control" id="pesquisaTweet" name="phrase"
                        placeholder="Digite o termo">
                    <small id="emailHelp" class="form-text text-muted">Digite uma frase para testar</small>
                </div>
        </div>
        <!-- CAMPO PARA PESQUISAR TWEET -->

        <!-- TIPO DE PESQUISA A SER FEITA -->
        <div class="col-12">
            <h6>Tipo de análise: </h6>

            <!-- OPÇÃO PESQUISA SIMPLES -->
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="searchSimple" value="simple"
                    checked />
                <label class="form-check-label" for="searchSimple">Simples</label>
            </div>
            <!-- OPÇÃO PESQUISA SIMPLES -->

            <!-- OPÇÃO PESQUISA TREINAMENTO -->
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="searchAdvanced"
                    value="advanced" />
                <label class="form-check-label" for="searchAdvanced">Avançado</label>
            </div>
            <!-- OPÇÃO PESQUISA TREINAMENTO -->

        </div>
        <div class="col-12 text-center mt-4">
            <!-- BOTÃO PARA ENVIAR INFORMAÇÕES -->
            <input class="btn btn-outline-primary btn-lg" style="width: 100%;" type="submit" value="Pesquisar" />
        </div>
        <!-- BOTÃO PARA ENVIAR INFORMAÇÕES -->
    </div>
    </form>

    <div>
        <em>
            <div class="row">
                <div class="col-12 mt-4">
                    <p>Tipos de análise:</p>
                </div>
                <div class="col-12 col-md-6">
                    <p>Avançado: Tenta categorizar os tweets coletados nas seguintes polaridades:</p>
                    <ul>
                        <li>alegria</li>
                        <li>nojo</li>
                        <li>medo</li>
                        <li>raiva</li>
                        <li>surpresa</li>
                        <li>tristeza</li>
                    </ul>
                </div>
                <div class="col-12 col-md-6">
                    <p>Simples: Tenta categorizar os tweets coletados nas seguintes polaridades:</p>
                    <ul>
                        <li>positivo</li>
                        <li>neutro</li>
                        <li>negativo</li>
                    </ul>
                </div>
            </div>
        </em>
    </div>
</div>

{% endblock %}