{% extends 'base.html' %}

{% load static %}
{% load bootstrap4 %}

{% block title %}
<title>Teste uma frase</title>
{% endblock %}

{% block content %}

<section class="vh-100">
    <div class="container h-100">

        <h1 class="row justify-content-center text-white pt-2">Faça um teste com uma frase</h1>
        <form action="{% url 'test-result' %}" method="post" class="form text-white" autocomplete="off">
            {% csrf_token %}
            {% bootstrap_messages %}

            <!-- FRASE DE TESTE -->
            <div class="form-group">
                <label for="pesquisaTweet">Frase de teste</label>
                <input type="text" class="form-control" id="pesquisaTweet" name="phrase" placeholder="Digite a frase">
                <small id="emailHelp" class="form-text text-muted">Digite uma frase para testar</small>
            </div>
            <!-- FRASE DE TESTE -->


            <!-- TIPO DE PESQUISA A SER FEITA -->
            <div class="row">
                <div class="col-4">
                    <h6>Tipo de análise: </h6>

                    <!-- OPÇÃO PESQUISA SIMPLES -->
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="searchSimple"
                            value="simple" checked />
                        <label class="form-check-label" for="searchSimple">Simples</label>
                    </div>
                    <!-- OPÇÃO PESQUISA SIMPLES -->

                    <!-- OPÇÃO PESQUISA TREINAMENTO -->
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="searchAdvanced"
                            value="advanced" />
                        <label class="form-check-label" for="searchAdvanced">Avançado</label>
                    </div>
                    <!-- OPÇÃO PESQUISA TREINAMENTO -->
                </div>

                <!-- TIPO DE PESQUISA A SER FEITA -->

                <!-- BOTÃO PARA ENVIAR INFORMAÇÕES -->
                <div class="col-4">
                    <div class="row justify-content-center">
                        <div>
                            <input class="btn btn-primary btn-lg" style="width: 120px;" type="submit" value="Testar" />
                        </div>
                    </div>
                </div>
                <!-- BOTÃO PARA ENVIAR INFORMAÇÕES -->
            </div>
        </form>

        <div class="text-white">
            <em>
                <p class="mt-4">Tipos de análise:</p>
                <div class="row">
                    <div class="col-6">
                        <p>Avançado: Tenta categorizar os tweets coletados nas seguintes polaridades:</p>
                        <ul>
                            <li>alegria</li>
                            <li>nojo</li>
                            <li>medo</li>
                            <li>raiva</li>
                            <li>surpresa</li>
                            <li>tristeza</li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <p>Simples: Tenta categorizar os tweets coletados nas seguintes polaridades:</p>
                        <ul>
                            <li>positivo</li>
                            <li>neutro</li>
                            <li>negativo</li>
                        </ul>
                    </div>
                </div>
            </em>
        </div>
    </div>
</section>

{% endblock %}