{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}
<title>Contato</title>
{% endblock %}

{% block content %}
<div class="container min-vh-100">
    {% bootstrap_messages %}
    <div class="row m-5">
        <div class="col-12">
            <h1 class="text-center font-weight-bold">Entre em contato</h1>
        </div>
        <div class="col-12 p-2">
            <form action="{% url 'contact' %}" method="post" class="form" autocomplete="off">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                <button type="submit" class="btn btn-lg btn-outline-primary" style="width: 100%;">Enviar mensagem</button>
                {% endbuttons %}
            </form>
        </div>
    </div>
</div>
{% endblock %}