{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}
<title>Contato</title>
{% endblock %}

{% block content %}
<div class="container min-vh-100">
    <h1 class="row d-flex justify-content-center">CONTATO</h1>
    {% bootstrap_messages %}
    <form action="{% url 'contact' %}" method="post" class="form" autocomplete="off">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <button type="submit" class="btn btn-primary">Enviar mensagem</button>
        {% endbuttons %}
    </form>
</div>
{% endblock %}