<footer class="bg-dark text-center" id="footer">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">

            <!-- Twitter -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/danielares" role="button"><i class="fab fa-twitter"></i></a>

            <!-- Linkedin -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/daniel-ares-937518131/" role="button"><i
                    class="fab fa-linkedin-in"></i></a>

            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/danielares/" role="button"><i class="fab fa-github"></i></a>
        </section>
        <!-- Section: Social media -->
        
        <div class="text-center">
            <em>Author: Daniel Ares Moraes</em>
        </div>

    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(45, 46, 47);">
        © 2022 Copyright:
        <a class="" href="#">TwComp</a>
    </div>
    <!-- Copyright -->
</footer>