{% extends 'base.html' %}
{% load static %}


{% block title %}
<title>Index</title>
{% endblock %}

{% block content %}
<div class="container min-vh-100">
    <div class="row">
        <div class="col">
            <div class="d-flex justify-content-center">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" style="border-radius: 25px;">
                        <div class="carousel-item active carousel-image">
                            <img class="d-block w-100" src="{% static '/images/banner/1.png' %}" alt="First slide">
                        </div>
                        <div class="carousel-item carousel-image">
                            <img class="d-block w-100" src="{% static '/images/banner/2.png' %}" alt="Second slide">
                        </div>
                        <div class="carousel-item carousel-image">
                            <img class="d-block w-100" src="{% static '/images/banner/3.png' %}" alt="Third slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row my-3 text-center">
        <div class="col-12 col-md-4 my-2">
            <a class="optionIcons" href="{% url 'search-tweets-scraper' %}">
                <div class="columnStyle indexColumn zoom">
                    <p>
                        <img class="icons" src="{% static '/images/icons/web-scaping.png' %}" alt="TWComp">
                    </p>
                    <h4>Procurar tweets<br>Web Scraping</h4>
                    <p style="font-size: 15px;">
                        Procura um termo no twitter utilizando Web Scraping. Não necessita de cadastrar com
                        os
                        dados da API do twitter porém as opções são mais limitadas
                    </p>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-4 my-2">
            <a class="optionIcons" href="{% url 'search-tweets-compare-scraper' %}">
                <div class="columnStyle indexColumn zoom">
                    <p>
                        <img class="icons" src="{% static '/images/icons/web-scaping-2.png' %}" alt="TWComp">
                    </p>
                    <h4>Comparar tweets<br>Web Scraping</h4>
                    <p style="font-size: 15px;">
                        Compara dois termos pesquisados utilizando Web Scraping. Não necessita de cadastrar
                        com
                        os dados da API do twitter porém as opções são mais limitadas
                    </p>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-4 my-2">
            <a class="optionIcons" href="{% url 'test-phrase' %}">
                <div class="columnStyle indexColumn zoom">
                    <p>
                        <img class="icons" src="{% static '/images/icons/phrase-icon.png' %}" alt="TWComp">
                    </p>
                    <h4>Teste uma frase</h4>
                    <p style="font-size: 15px;">
                        Digite uma frase qualquer para testar como funciona a análise
                    </p>
                </div>
            </a>
        </div>

        {% if not user.is_anonymous %}

        <div class="col-12 col-md-4 my-2">
            <a class="optionIcons" href="{% url 'search-tweets' %}">
                <div class="columnStyle indexColumn zoom">
                    <p>
                        <img class="icons" src="{% static '/images/icons/search-api.png' %}" alt="TWComp">
                    </p>
                    <h4>Procurar tweets<br>API do twitter</h4>
                    <p style="font-size: 15px;">
                        Procura um termo no twitter utilizando a API do Twitter. É necessario se cadastrar com
                        os dados da API do twitter
                    </p>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-4 my-2">
            <a class="optionIcons" href="{% url 'search-tweets-compare' %}">
                <div class="columnStyle indexColumn zoom">
                    <p>
                        <img class="icons" src="{% static '/images/icons/search-api-compare.png' %}" alt="TWComp">
                    </p>
                    <h4>Comparar tweets<br>API do twitter</h4>
                    <p style="font-size: 15px;">
                        Compara dois termos pesquisados utilizando a API do Twitter. É necessario se cadastrar
                        com os dados da API do twitter
                    </p>
                </div>
            </a>
        </div>
        {% if user.is_staff %}
        <div class="col-12 col-md-4 my-2">
            <a class="optionIcons" href="{% url 'training-base' %}">
                <div class="columnStyle indexColumn zoom">
                    <p>
                        <img class="icons" src="{% static '/images/icons/training-base.png' %}" alt="TWComp">
                    </p>
                    <h4>Base de treinamento</h4>
                    <p style="font-size: 15px;">
                        Opções relacionadas a base de treinamento. Como adicionar tweets a base e baixar CSV da
                        base de treinamento
                    </p>
                </div>
            </a>
        </div>
        {% endif %}
    </div>
    {% endif %}
</div>
{% endblock %}