{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link href="{% static 'css/report.css' %}" rel="stylesheet">
    <title>Relatório tweets</title>
</head>

<body>
    <article id="cover">
        <img src="{% static 'images/report-cover.jpg' %}" id="first_page_image">
    </article>

    <h1>Word Clud:</h1>
    <img src="{% static 'images/temp/wc.png' %}" id="wordcloud">
    <img src="{% static 'images/temp/MicrosoftTrainingPizza.png' %}" alt="" height="10">


    <h1>Geek Report</h1>
    {% for p in texto %}
    <p>{{ p }}</p>
    {% endfor %}


    </div>
    </section>


</body>

</html>