{% extends 'base.html' %}

{% block title %}
<title>Login</title>
{% endblock %}

{% block content %}

<section class="vh-100">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <form class="form-signin" method="post" autocomplete="off">

                        <div class="card-body p-md-5">
                            {% csrf_token %}
                            <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Informe seus dados</p>


                            <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0">
                                    <label for="username" class="sr-only">E-mail</label>
                                    <input type="email" id="username" name="username" class="form-control"
                                        placeholder="Informe seu e-mail" required autofocus>
                                </div>
                            </div>

                            <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0">
                                    <label for="password" class="sr-only">Senha</label>
                                    <input type="password" id="password" name="password" class="form-control"
                                        placeholder="Informe sua senha" required>
                                </div>
                            </div>

                            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                <button class="btn btn-primary btn-lg" type="submit">Acessar</button>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

{% endblock %}