{% load static %}

<div class="row d-flex justify-content-center">
    <div class="col-sm-5 mx-3">
        <canvas id="myChart" width="400" height="400"></canvas>
    </div>

    <div class="col-sm-5 mx-3">
        <canvas id="myChart2" width="400" height="400"></canvas>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    let labels = ['alegria','nojo','medo','raiva','surpresa','tristeza']
    let defaultData = [{{trainingBaseAdvanced.0|safe}}, {{trainingBaseAdvanced.1|safe}}, {{trainingBaseAdvanced.2|safe}},
                        {{trainingBaseAdvanced.3|safe}}, {{trainingBaseAdvanced.4|safe}}, {{trainingBaseAdvanced.5|safe}}]
    let colors = ['yellow','green','purple','red','blue','gray']
    

    let labels2 = ['positivo','neutro','negativo']
    let defaultData2 = [{{trainingBaseSimple.0|safe}}, {{trainingBaseSimple.1|safe}}, {{trainingBaseSimple.2|safe}}]
    let colors2 = ['green','gray','red']

    $(document).ready(function() {
        var ctx = document.getElementById("myChart").getContext('2d');
        var ctx2 = document.getElementById("myChart2").getContext('2d');

        var myChart1 = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Sentimentos',
                    data: defaultData,
                    backgroundColor: colors,
                    borderColor: 'black',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
            }
        })

        var myChart2 = new Chart(ctx2, {
            type: 'bar',
            data: {
                labels: labels2,
                datasets: [{
                    label: 'Sentimentos',
                    data: defaultData2,
                    backgroundColor: colors2,
                    borderColor: 'black',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
            }
        })
    })

</script>