{% extends 'base.html' %}

{% load static %}
{% load bootstrap4 %}

{% block title %}
<title>Base de treinamento</title>
{% endblock %}

{% block content %}

<section class="vh-100">
    <div class="container h-100">
        <h1 class="text-white d-flex justify-content-center mb-5">Base de treinamento</h1>

        <h2 class="text-white mb-4">Opções de treinamento: </h2>
        <div class="row">
            <div class="col-4">
                <a class="text-white" href="{% url 'search-tweets-training' %}">
                    <img height="60" id="options" src="{% static '/images/search-tweets.png' %}"><br>
                    Treinar com tweets
                </a>
            </div>

            <div class="col-4">
                <a class="text-white" href="{% url 'upload-training-base' %}">
                    <img height="60" id="options" src="{% static '/images/search-tweets.png' %}"><br>
                    Treinar com CSV
                </a>
            </div>
        </div>

        <h2 class="text-white pt-4 my-4">Baixar base de treinamento: </h2>
        <div class="row">
            <div class="col-4">
                <!-- FORM PARA GERAR CSV -->
                <form action="{% url 'generate-csv-training-base' %}" method="post" class="form text-white"
                    autocomplete="off" target="_blank">
                    {% csrf_token %}
                    <div class="my-3">
                        <input class="btn btn-primary btn-lg" style="width: 200px;" name="gerar_csv" type="submit" value="CSV Simples" />
                    </div>

                    <div class="my-3">
                        <input class="btn btn-primary btn-lg" style="width: 200px;" name="gerar_csv" type="submit" value="CSV Avançado" />
                    </div>
                </form>
                <!-- FIM - FORM PARA GERAR CSV -->
            </div>
        </div>




    </div>
    </div>
</section>
{% endblock %}