{% extends 'base.html' %}

{% load static %}
{% load bootstrap4 %}

{% block title %}
<title>Base de treinamento</title>
{% endblock %}

{% block content %}

<div class="container min-vh-100">
    <p class="h1 text-center font-weight-bold">Base de treinamento</p>

    <h2 class="mb-4">Opções de treinamento: </h2>
    <div class="row my-3 text-center">
        <div class="col-12 col-md-4 my-2">
            <a class="optionIcons" href="{% url 'search-tweets-training' %}">
                <div class="columnStyle indexColumn zoom">
                    <p>
                        <img class="icons" src="{% static '/images/icons/training-base.png' %}" alt="TWComp">
                    </p>
                    <h4>Treinar com tweets</h4>
                    <p style="font-size: 15px;">
                        Procura tweets para inserir na base de treinamento.
                    </p>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-4 my-2">
            <a class="optionIcons" href="{% url 'upload-training-base' %}">
                <div class="columnStyle indexColumn zoom">
                    <p>
                        <img class="icons" src="{% static '/images/icons/csv.png' %}" alt="TWComp">
                    </p>
                    <h4>Treinar com CSV</h4>
                    <p style="font-size: 15px;">
                        Faz o upload de uma base de treinamento por um arquivo CSV.
                    </p>
                </div>
            </a>
        </div>
    </div>



    <h2 class="pt-4 my-4">Baixar base de treinamento: </h2>
    <div class="row">
        <div class="col-4">
            <!-- FORM PARA GERAR CSV -->
            <form action="{% url 'generate-csv-training-base' %}" method="post" class="form" autocomplete="off"
                target="_blank">
                {% csrf_token %}
                <div class="my-3">
                    <input class="btn btn-primary btn-lg" style="width: 200px;" name="gerar_csv" type="submit"
                        value="CSV Simples" />
                </div>

                <div class="my-3">
                    <input class="btn btn-primary btn-lg" style="width: 200px;" name="gerar_csv" type="submit"
                        value="CSV Avançado" />
                </div>
            </form>
            <!-- FIM - FORM PARA GERAR CSV -->
        </div>
    </div>
</div>
{% endblock %}