{% extends 'base.html' %}

{% load static %}
{% load bootstrap4 %}

{% block content %}

<section class="vh-100">
    <div class="container h-100">

        <h1 class="row justify-content-center text-white pt-5">Search for tweets</h1>
        <form action="{% url 'viewtweets' %}" method="post" class="form text-white" autocomplete="off">
            {% csrf_token %}
            {% bootstrap_messages %}
            <!-- CAMPO PARA PESQUISAR TWEET -->
            <div class="form-group">
                <label for="pesquisaTweet">Pesquisar tweet</label>
                <input type="text" class="form-control" id="pesquisaTweet" name="searched"
                    placeholder="Digite o termo">
                <small id="emailHelp" class="form-text text-muted">Digite aqui o termo que você deseja analisar tweets</small>
            </div>
            <!-- CAMPO PARA PESQUISAR TWEET -->

            <!-- CAMPO PARA ESCOLHER NUMERO DE TWEETS ENTRE 10 E 100 -->
            <div class="form-group">
                <label for="numeroTweets">Numero de tweets</label>
                <input type="number" class="form-control" id="numeroTweets" name="amoutTweets"
                    placeholder="Numero de tweets" min="10" max="100" value="10">
            </div>
            <!-- CAMPO PARA ESCOLHER NUMERO DE TWEETS ENTRE 10 E 100 -->

            <!-- TIPO DE PESQUISA A SER FEITA -->
            <div>
                <h6>Tipo de análise: </h6>
                <!-- OPÇÃO PESQUISA COMPLETA -->
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="pesquisaCompleta"
                        value="completa" checked />
                    <label class="form-check-label" for="pesquisaCompleta">Completa</label>
                </div>
                <!-- OPÇÃO PESQUISA COMPLETA -->


                <!-- OPÇÃO PESQUISA TRADUCAO -->
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="pesquisaTraducao"
                        value="traducao" />
                    <label class="form-check-label" for="pesquisaTraducao">Tradução</label>
                </div>
                <!-- OPÇÃO PESQUISA TRADUCAO -->

                <!-- OPÇÃO PESQUISA TREINAMENTO -->
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="pesquisaTreinamento"
                        value="treinamento" />
                    <label class="form-check-label" for="pesquisaTeinamento">Treinamento</label>
                </div>
                <!-- OPÇÃO PESQUISA TREINAMENTO -->
            </div>
            <!-- TIPO DE PESQUISA A SER FEITA -->


            <!-- BOTÃO PARA ENVIAR INFORMAÇÕES -->
            <div class="row justify-content-center">
                <div class="mt-3 pt-2">
                    <input class="btn btn-primary btn-lg" type="submit" value="Pesquisar" />
                </div>
            </div>
            <!-- BOTÃO PARA ENVIAR INFORMAÇÕES -->

        </form>

        <p class="justify-content-left text-white pt-5">
            Tipos de análise:<br>
            <em>Completa: Faz dois tipos de análise dos tweets, por tradução e por treinamento e compara os resultados</em><br>
            <em>Tradução: Faz a análise dos tweets utilizando uma biblioteca pronta. (Pode ser lento pois é preciso traduzir os tweets para ingles)</em><br>
            <em>Treinamento: Faz a análise dos tweets por meio de treinamento humano</em>
        </p>
    </div>
</section>

{% endblock %}