{% extends 'base.html' %}

{% load static %}
{% load bootstrap4 %}

{% block content %}

<section class="vh-100">
    <div class="container h-100">

        <h1 class="row justify-content-center text-white pt-5">Search for tweets</h1>
        <form action="{% url 'view-tweets' %}" method="post" class="form text-white" autocomplete="off">
            {% csrf_token %}
            {% bootstrap_messages %}
            <!-- CAMPO PARA PESQUISAR TWEET -->
            <div class="form-group">
                <label for="pesquisaTweet">Pesquisar tweet</label>
                <input type="text" class="form-control" id="pesquisaTweet" name="searched" placeholder="Digite o termo">
                <small id="emailHelp" class="form-text text-muted">Digite aqui o termo que você deseja analisar
                    tweets</small>
            </div>
            <!-- CAMPO PARA PESQUISAR TWEET -->

            <!-- CAMPO PARA ESCOLHER NUMERO DE TWEETS ENTRE 10 E 100 -->
            <div class="form-group">
                <label for="numeroTweets">Numero de tweets</label>
                <input type="number" class="form-control" id="numeroTweets" name="amoutTweets"
                    placeholder="Numero de tweets" min="10" max="1000" value="10">
            </div>
            <!-- CAMPO PARA ESCOLHER NUMERO DE TWEETS ENTRE 10 E 100 -->

            <!-- TIPO DE PESQUISA A SER FEITA -->
            <div>
                <h6>Tipo de análise: </h6>

                <!-- OPÇÃO PESQUISA SIMPLES -->
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="searchSimple"
                        value="simple" checked />
                    <label class="form-check-label" for="searchSimple">Simples</label>
                </div>
                <!-- OPÇÃO PESQUISA SIMPLES -->

                <!-- OPÇÃO PESQUISA TREINAMENTO -->
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="searchAdvanced"
                        value="advanced" />
                    <label class="form-check-label" for="searchAdvanced">Avançado</label>
                </div>
                <!-- OPÇÃO PESQUISA TREINAMENTO -->
            </div>
            <!-- TIPO DE PESQUISA A SER FEITA -->

            <!-- OPÇÃO PARA FILTRAR RETWEETS -->
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="True" name="filterRetweets" id="filterRetweets">
                <label class="form-check-label" for="filterRetweets">
                    Filtrar retweets
                </label>
            </div>
            <!-- OPÇÃO PARA FILTRAR RETWEETS -->

            <!-- OPÇÃO PARA FILTRAR REPLYS -->
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="True" name="filterReply" id="filterReply">
                <label class="form-check-label" for="filterReply">
                    Filtrar respostas
                </label>
            </div>
            <!-- OPÇÃO PARA FILTRAR REPLYS -->

            <!-- BOTÃO PARA ENVIAR INFORMAÇÕES -->
            <div class="row justify-content-center">
                <div class="mt-3 pt-2">
                    <input class="btn btn-primary btn-lg" type="submit" value="Pesquisar" />
                </div>
            </div>
            <!-- BOTÃO PARA ENVIAR INFORMAÇÕES -->

        </form>

        <div class="justify-content-left text-white pt-2">
            <em>
                <p>Tipos de análise:</p>
                <p>Simples: Tenta categorizar os tweets coletados nas seguintes polaridades:</p>
                <ul>
                    <li>positivo</li>
                    <li>neutro</li>
                    <li>negativo</li>
                </ul>
                <p>Avançado: Tenta categorizar os tweets coletados nas seguintes polaridades:</p>
                <ul>
                    <li>alegria</li>
                    <li>nojo</li>
                    <li>medo</li>
                    <li>raiva</li>
                    <li>surpresa</li>
                    <li>tristeza</li>
                </ul>
            </em>
        </div>
    </div>
</section>

{% endblock %}