<div class="row d-flex justify-content-center text-white">
    <div class="card text-white bg-dark mb-3 mx-3" style="width: 18rem;">
        <div class="card-header">Total de Tweets:</div>
        <div class="card-body">
            <h5 class="card-title d-flex justify-content-center">{{amoutTweets}}</h5>

        </div>
    </div>

    <div class="card text-white bg-dark mb-3 mx-3" style="width: 18rem;">
        <div class="card-header">Precisão da análise:</div>
        <div class="card-body">
            <h5 class="card-title d-flex justify-content-center">{{probability}}%</h5>
        </div>
    </div>

    <div class="card text-white bg-dark mb-3 mx-3" style="width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
            <h5 class="card-title d-flex justify-content-center">Secondary card title</h5>
        </div>
    </div>
</div>