{% load static %}
<h3 class="text-white">Analise com base em tradução: </h3>
<div class="text-black row d-flex justify-content-center">
    <div class="text-black row d-flex justify-content-center">
        <div class="card text-black mx-1 my-1" style="width: 35rem;">
            <img class="card-img-top" src="{% static '/images/temp/' %}{{term}}Pizza.png" alt="Imagem de capa do card">
        </div>

        <div class="card text-black mx-1 my-1" style="width: 35rem;">
            <img class="card-img-top" src="{% static '/images/temp/' %}{{term}}Bar.png" alt="Imagem de capa do card">
        </div>
    </div>

    <div class="card opacity-10 text-black mx-1 my-1" style="width: 35rem;">
        <div class="card-body">
            <p class="card-text">Os gráfico acima representa a polaridade dos tweets com base em uma analise feita por
                tradução</p>
            <p class="card-text">Com base na coleta de {{ amoutTweets }} tweets foi feito com sucesso a analise de
                {{tweetsAnalyzed}} tweets e ocorreram {{tweetsError}} erros;</p>
            <p class="card-text"> A quantidade de resultados por categoria está representa abaixo.</p>
            <ul class="list-group list-group-flush" style="color:black">
                <li class="list-group-item">Positivo: {{ qtd_tweets_polarity.0 }}</li>
                <li class="list-group-item">Neutro: {{ qtd_tweets_polarity.1 }}</li>
                <li class="list-group-item">Negativo: {{ qtd_tweets_polarity.2 }}</li>
            </ul>
        </div>
    </div>

</div>