{% extends 'base.html' %}

{% load static %}

{% block content %}

<section class="vh-100">
    <div class="container h-100">
        <h2 class="text-white row d-flex justify-content-center">Search: {{ term }}</h2><br>
        <div class="text-white row d-flex">

            <div class="form-group">
                <img id="charts" src="{% static '/images/temp/' %}{{term}}Pizza.png" alt="chartss">
                <img id="charts" src="{% static '/images/temp/' %}{{term}}Bar.png" alt="chartss"><br>
            </div>

            <div class="form-group">
                <h2 class="text-white row d-flex justify-content-center">Tweets:</h2>
                {% for tweet in tweets %}
                <p><strong>Tweet ID:</strong> {{tweet.tweet_id}}</p>
                <p><strong>Tweet:</strong> {{tweet.tweet_text}}</p>
                <p><strong>Tweet clean:</strong> {{tweet.tweet_clean}}</p>
                <p><strong>Tweet english:</strong> {{tweet.tweet_english.text}}</p>
                <p><strong>Polaridade:</strong> {{tweet.polaridade}}</p>
                <p><strong>Sentimento:</strong> {{tweet.sentimento}}</p><br>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock %}