{% extends 'base.html' %}

{% load static %}

{% block content %}

<section class="vh-100">
    <div class="container h-100">
        <h2 class="text-white row d-flex justify-content-center">Search: {{ term }}</h2><br>

        <h3 class="text-white">Wordcloud: </h3>
        <div class="d-flex justify-content-center my-5">
            <div class="zoom" id="magnifying_area" style="width: 45rem;">
                <img class="img-fluid" id="magnifying_img" src="data:image/png;base64,{{ wordcloud }}"
                    alt="Imagem word cloud">

            </div>
        </div>

        {% if option == 'simples' %}
        {% include 'tweets/viewtweets-trans.html' %}

        {% else %}
        {% include 'tweets/viewtweets-training.html' %}

        {% endif %}

        <!-- BOTÃO PARA ENVIAR INFORMAÇÕES -->
        <div class="row justify-content-center">
            <!-- FORM PARA GERAR PDF -->
            <form action="{% url 'generate-pdf' %}" method="get" class="form text-white" autocomplete="off"
                target="_blank">
                {% csrf_token %}
                <div class="mt-3 pt-2 mx-3">
                    <input class="btn btn-primary btn-lg" type="submit" value="Gerar PDF" />
                </div>
            </form>
            <!-- FIM - FORM PARA GERAR PDF -->

            <!-- FORM PARA GERAR CSV -->
            <form action="{% url 'generate-csv' %}" method="get" class="form text-white" autocomplete="off"
                target="_blank">
                {% csrf_token %}
                <div class="mt-3 pt-2 mx-3">
                    <input class="btn btn-primary btn-lg" type="submit" value="Gerar CSV" />
                </div>
            </form>
            <!-- FIM - FORM PARA GERAR CSV -->

        </div>
        <!-- BOTÃO PARA ENVIAR INFORMAÇÕES -->


        <div class="form-group">
            <br>
            <h2 class="text-white row d-flex justify-content-center">Exemplo dos tweets:</h2>
            <div class="text-white">
                {% for tweet in tweets %}
                <p><strong>Tweet ID:</strong> {{tweet.tweet_id}}</p>
                <p><strong>Tweet:</strong> {{tweet.tweet_text}}</p>
                <!--
                <p><strong>Usuario:</strong> {{tweet.tweet_username}}</p>
                <p><strong>Criado em:</strong> {{tweet.tweet_created_at}}</p>
                <p><strong>Idioma:</strong> {{tweet.tweet_lang}}</p>
                <p><strong>Referencia ao tweet:</strong> {{tweet.tweet_referenced_tweets}}</p>
                <p><strong>Tweet clean:</strong> {{tweet.tweet_clean}}</p>
                <p><strong>Tweet english:</strong> {{tweet.tweet_english}}</p>
                <p><strong>Polaridade:</strong> {{tweet.polaridade}}</p>
                <p><strong>Sentimento:</strong> {{tweet.sentimento}}</p><br>-->
                {% endfor %}
            </div>
        </div>

    </div>
</section>

{% endblock %}