{% load static %}

<h3 class="text-white">Analise com base em treinamento: </h3>
<div class="text-black row d-flex justify-content-center">

    {% include 'charts/charts.html' %}

    <div class="card text-black mx-1 my-1" style="width: 55rem;">
        <div class="card-body">
            <p class="card-text">Os gráficos acima representam a polaridade dos tweets coletados;</p>
            <p class="card-text">Com base na coleta de {{ amoutTweets }} tweets foi feito com sucesso a analise de
                {{tweetsAnalyzed}} tweets e ocorreram {{tweetsError}} erros;</p>
            <p class="card-text">A quantidade de resultados por categoria está representa abaixo.</p>

            <ul class="list-group list-group-flush" style="color:black">
                <li class="list-group-item">Alegria: {{ qtd_tweets.0 }}</li>
                <li class="list-group-item">Nojo: {{ qtd_tweets.1 }}</li>
                <li class="list-group-item">Medo: {{ qtd_tweets.2 }}</li>
                <li class="list-group-item">Raiva: {{ qtd_tweets.3 }}</li>
                <li class="list-group-item">Surpresa: {{ qtd_tweets.4 }}</li>
                <li class="list-group-item">Tristeza: {{ qtd_tweets.5 }}</li>
            </ul>
        </div>
    </div>
</div>
