{% extends 'base.html' %}

{% load static %}

{% block content %}
<section class="vh-100">
    <div class="container h-100">
        <div class="form-group">
            <h2 class="text-white row d-flex justify-content-center">Tweets coletados</h2>

            <div class="form-group col-md-4 text-white">
                <div class="myBtnContainer">
                    <button class="btn active" id="filterTweets" onclick="filterSelection('positivos')">
                        {{chartsInfo.labels.0}}
                    </button>
                    <button class="btn" id="filterTweets" onclick="filterSelection('neutros')">
                        {{chartsInfo.labels.1}}
                    </button>
                    <button class="btn" id="filterTweets" onclick="filterSelection('negativos')">
                        {{chartsInfo.labels.2}}
                    </button>
                </div>
            </div>

            <div class="filterDiv positivos">
                <div class="text-white">
                    <h3 id="testeTweets">Positivos:</h3>
                    {% for tweet in tweets %}
                    {% if tweet.tweet_analise.0 == 'positivo' %}
                    <bold>Probabilidade:</bold> {{tweet.tweet_analise.1}}
                    <div class="filterDiv positivos" id="tweets">
                        <blockquote class="twitter-tweet" data-theme="dark">
                            <p lang="pt-br" dir="ltr"></a></p>&mdash;
                            <a class="filterDiv positivos" id="urltweet"
                                href="https://twitter.com/USERNAME/status/{{tweet.tweet_id}}"></a>
                        </blockquote>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>

            <br>
            <br>

            <div class="filterDiv neutros">
                <h3 id="testeTweets">Neutros:</h3>
                {% for tweet in tweets %}
                {% if tweet.tweet_analise.0 == 'neutro' %}
                <bold>Probabilidade:</bold> {{tweet.tweet_analise.1}}
                <div class="filterDiv neutros" id="tweets">
                    <blockquote class="twitter-tweet" data-theme="dark">
                        <p lang="pt-br" dir="ltr"></a></p>&mdash;
                        <a class="filterDiv neutros" id="urltweet"
                            href="https://twitter.com/USERNAME/status/{{tweet.tweet_id}}"></a>
                    </blockquote>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <br>
            <br>

            <div class="filterDiv negativos">
                <h3 id="testeTweets">Negativos:</h3>
                {% for tweet in tweets %}
                {% if tweet.tweet_analise.0 == 'negativo' %}
                <bold>Probabilidade:</bold> {{tweet.tweet_analise.1}}
                <div class="filterDiv negativos" id="tweets">
                    <blockquote class="twitter-tweet" data-theme="dark">
                        <p lang="pt-br" dir="ltr"></a></p>&mdash;
                        <a class="filterDiv negativos" id="urltweet"
                            href="https://twitter.com/USERNAME/status/{{tweet.tweet_id}}"></a>
                    </blockquote>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>

    filterSelection("positivos")
    function filterSelection(c) {
        var x, i;
        x = document.getElementsByClassName("filterDiv");
        if (c == "positivos") c = "";
        // Add the "show" class (display:block) to the filtered elements, and remove the "show" class from the elements that are not selected
        for (i = 0; i < x.length; i++) {
            w3RemoveClass(x[i], "show");
            if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
        }
    }



    // Show filtered elements
    function w3AddClass(element, name) {
        var i, arr1, arr2;
        arr1 = element.className.split(" ");
        arr2 = name.split(" ");
        for (i = 0; i < arr2.length; i++) {
            if (arr1.indexOf(arr2[i]) == -1) {
                element.className += " " + arr2[i];
            }
        }
    }


    // Hide elements that are not selected
    function w3RemoveClass(element, name) {
        var i, arr1, arr2;
        arr1 = element.className.split(" ");
        arr2 = name.split(" ");
        for (i = 0; i < arr2.length; i++) {
            while (arr1.indexOf(arr2[i]) > -1) {
                arr1.splice(arr1.indexOf(arr2[i]), 1);
            }
        }
        element.className = arr1.join(" ");
    }


    // Add active class to the current control button (highlight it)
    var btnContainer = document.getElementById("myBtnContainer");
    var btns = btnContainer.getElementsByClassName("btn");
    for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function () {
            var current = document.getElementsByClassName("active");
            current[0].className = current[0].className.replace(" active", "");
            this.className += " active";
        });
    }

</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

{% endblock %}